%div#navbar.navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation' }

%div#main
  %p Loading...

%div#round_page

/ Sign-in Modal
.modal.fade#myModal{ tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => true }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
        %h4.modal-title#myModalLabel Sign In
      .modal-body
        = form_tag("/sessions", method: "post") do
          .form-group
            = label_tag(:email, "Email")
            = email_field_tag(:email, "", :autofocus => true, class: "form-control", required: true)

          .form-group
            = label_tag(:password, "Password")
            = password_field_tag(:password, "", class: "form-control", required: true)

          %button.btn.btn-default{ type: "button", "data-dismiss" => "modal" } Cancel
          %button.btn.btn-primary{ type: "submit" } Sign In
